body {
    /* background: #0762ac; */
    /* background: url("sea.gif"); */
    background: #4f0792;
}

#title {
    width: 100%;
    margin-top: 75px;
}

#title h1 {
    text-align: center;
    margin: auto;
    width: 1000px;
    color: #dfe220;
    font-family: 'ZCOOL QingKe HuangYou', cursive; 
    font-size: 75px;
    margin-top: 0;
}

#map {
    height: 275px;
    width: 275px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

#map1 {
    height: 550px;
    width: 800px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

#controlPanel {
    margin: 0 auto;    
    width: 375px;
}

#controlPanel li {
    list-style: none;
    margin: 5px;    
    width: 275px;
    display: block;
    background: #075088;
}

#controlPanel li:hover {
    background: #075593;
}

#controlPanel li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    padding: 10px;
    width: 275px;
    border-radius: 3px;
    cursor: pointer;
}

table {
    margin: 50px auto;
    color: #ffffff;
}

table tr {
    background: #075088;
}

table tr:nth-child(even) {
    background: #075593;
}

table tr td {
    padding: 2px 10px;
}

#button1 {
    background: #3498db; 
    font-family: 'ZCOOL QingKe HuangYou', cursive; 
    color:yellow; 
    font-size: 30px; top: -15px; 
    position: relative; 
    border: 0.5px;
}

#button1:hover {
	cursor: pointer;
	background-color: blue;
	color: white;
}

#button2 {
    background: #ffffff; 
    font-family: 'ZCOOL QingKe HuangYou', cursive; 
    border-radius: 15px;
    color:rgb(0, 0, 0); 
    font-size: 30px; 
    bottom: 10px; 
    position: absolute;
    left: 600px;
    border: 0.5px;
}

#button2:hover {
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: white;
}

.inline-block {
    display: inline-block;
 }
